
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

table {
    border: 5px double  #b4cfd6;
}

h1, td, th{
    color: white;
}

body {
    background-image: url(/basic_structure_form_one/extra/img/unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
}

.tableViewUser td{
    border: solid 1px;
}


.tableViewUser th{
    border: solid 1px;
}

h1 {
    font-family: monospace;    
}